<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/shopper"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/shopper_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlanillaShopper">
        <activity android:name=".ui.DashboardActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MonthlySummaryActivity"
            android:exported="false" />


    </application>

</manifest>